{% extends "base.html" %}

{% block content %}

     {% with message = get_flashed_messages() %}
        {% if message %}
            {{ message[0] }}. Go to <a href="{{ url_for('login') }}">login</a> page.
        {% endif %}
    {% endwith %}

    <h3>Log in</h3>
    <form action="/login" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username"><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>

        <input type="checkbox" name="remember" id="remember">
        <label for="username">Remember me?</label><br>

        <input type="submit" value="Log in">

    </form>

{% endblock %}