body {
    background-color: #62ACDF;
}


.form_div {
    background-color: white;
    width: 250px;
    font-family: Garelina;
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
}


.form {
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
    margin: auto;
}


input {
    border: 1px solid;
    border-radius: 7px;
}


input[type=submit] {
  width: 180px;
  background-color: #FA5CAC;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  margin: 4px 2px;
  cursor: pointer;
}


input[type=checkbox] {
  margin: 12px 3px;
}


.form_error {
    color: red;
}